<html>
	<head>
		<title>Headbook</title>
	</head>
	<body>
		<div id='nav_bar'>
			<h1><a href="/home">Headbook</a></h1>
			<nav>
				<% unless logged_in? %>
					<a href='/login'>Log In</a> |
					<a href='/signup'>Sign Up</a>
				<% else %>
					<a href='/'>Home</a> |
					<a href='/users/index'>Users</a> |
					<a href="/users/<%= current_user.id %>/friends">Your friends</a> |
					<a href='/logout'>Log out</a> |
					<a href='/profile'><em><%= current_user.first_name %></em></a>
				<% end %>
			</nav>
		</div>
		<%= yield %>
	</body>
</html>